In [30]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split 
from sklearn.metrics import accuracy_score

In [31]:
filename = os.path.join(os.getcwd(), "DataRes_DS1.txt")
df = pd.read_table(filename, low_memory=False, sep = ";")
df.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0

In [32]:
df.shape

(2075259, 9)

In [33]:
df.drop(columns = ['Date', 'Time'], axis = 1, inplace = True)
df

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,3.666,0.528,235.680,15.800,0.000,1.000,17.0
...,...,...,...,...,...,...,...
2075254,0.946,0.000,240.430,4.000,0.000,0.000,0.0
2075255,0.944,0.000,240.000,4.000,0.000,0.000,0.0
2075256,0.938,0.000,239.820,3.800,0.000,0.000,0.0
2075257,0.934,0.000,239.700,3.800,0.000,0.000,0.0
2075258,0.932,0.000,239.550,3.800,0.000,0.000,0.0

In [34]:
df

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,3.666,0.528,235.680,15.800,0.000,1.000,17.0
...,...,...,...,...,...,...,...
2075254,0.946,0.000,240.430,4.000,0.000,0.000,0.0
2075255,0.944,0.000,240.000,4.000,0.000,0.000,0.0
2075256,0.938,0.000,239.820,3.800,0.000,0.000,0.0
2075257,0.934,0.000,239.700,3.800,0.000,0.000,0.0
2075258,0.932,0.000,239.550,3.800,0.000,0.000,0.0

In [35]:
df.drop(df[df['Global_active_power'] == '?'].index, inplace=True)
df.drop(df[df['Global_reactive_power'] == '?'].index, inplace=True)
df.drop(df[df['Voltage'] == '?'].index, inplace=True)
df.drop(df[df['Global_intensity'] == '?'].index, inplace=True)
df.drop(df[df['Sub_metering_1'] == '?'].index, inplace=True)
df.drop(df[df['Sub_metering_2'] == '?'].index, inplace=True)
df.drop(df[df['Sub_metering_3'] == '?'].index, inplace=True)

In [36]:
df

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,3.666,0.528,235.680,15.800,0.000,1.000,17.0
...,...,...,...,...,...,...,...
2075254,0.946,0.000,240.430,4.000,0.000,0.000,0.0
2075255,0.944,0.000,240.000,4.000,0.000,0.000,0.0
2075256,0.938,0.000,239.820,3.800,0.000,0.000,0.0
2075257,0.934,0.000,239.700,3.800,0.000,0.000,0.0
2075258,0.932,0.000,239.550,3.800,0.000,0.000,0.0

In [37]:
df = df.apply(pd.to_numeric)

In [38]:
df

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,4.216,0.418,234.84,18.4,0.0,1.0,17.0
1,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,5.388,0.502,233.74,23.0,0.0,1.0,17.0
4,3.666,0.528,235.68,15.8,0.0,1.0,17.0
...,...,...,...,...,...,...,...
2075254,0.946,0.000,240.43,4.0,0.0,0.0,0.0
2075255,0.944,0.000,240.00,4.0,0.0,0.0,0.0
2075256,0.938,0.000,239.82,3.8,0.0,0.0,0.0
2075257,0.934,0.000,239.70,3.8,0.0,0.0,0.0
2075258,0.932,0.000,239.55,3.8,0.0,0.0,0.0

In [39]:
df = df.drop_duplicates()
df

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,4.216,0.418,234.84,18.4,0.0,1.0,17.0
1,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,5.388,0.502,233.74,23.0,0.0,1.0,17.0
4,3.666,0.528,235.68,15.8,0.0,1.0,17.0
...,...,...,...,...,...,...,...
2075254,0.946,0.000,240.43,4.0,0.0,0.0,0.0
2075255,0.944,0.000,240.00,4.0,0.0,0.0,0.0
2075256,0.938,0.000,239.82,3.8,0.0,0.0,0.0
2075257,0.934,0.000,239.70,3.8,0.0,0.0,0.0
2075258,0.932,0.000,239.55,3.8,0.0,0.0,0.0

In [40]:
train_y = df.loc[:,"Global_intensity"]
train_X = df.drop(columns = "Global_intensity")

In [41]:
print("Number of examples: " + str(train_X.shape[0]))
print("\nNumber of Features:" + str(train_X.shape[1]))
print(str(list(train_X.columns)))

Number of examples: 1906698

Number of Features:6
['Global_active_power', 'Global_reactive_power', 'Voltage', 'Sub_metering_1', 'Sub_metering_2', 'Sub_metering_3']

In [42]:
X_train, X_test, y_train, y_test = train_test_split(train_X, train_y, test_size=0.33, random_state=1234)

In [43]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import classification_report, confusion_matrix, roc_curve, auc
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold

In [44]:
model = GradientBoostingRegressor(loss='squared_error',learning_rate=0.25)
cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)

In [45]:
model.fit(X_train, y_train)

GradientBoostingRegressor(learning_rate=0.25)

In [46]:
y_pred = model.predict(X_test)

In [47]:
model.score(X_train, y_train)

0.9988769735108454

In [48]:
model.score(X_test, y_test)

0.998862666190267

In [49]:
from sklearn.metrics import mean_squared_error

In [50]:
mean_squared_error(y_test, y_pred)

0.022905102407683516